html{
    font-family: "Fredoka", sans-serif;
}

html, body{
    margin: 0;
}

.navbar{
    position: absolute;
    margin: 10px;
    padding: 10px;

}

.navbar a {
    text-decoration: none;
    color: rgb(99, 99, 99);
    font-size: 14px;
}

footer{
    text-align: left;
    text-decoration: none;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 10px;
    width: 100%;
    font-size: 14px;
    color: rgb(99, 99, 99);
}

ul, ol {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 5px;
}

ul a{
    color: rgb(99, 99, 99);
    text-decoration: none;
}

#container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;
}

img{
    padding: 30px;
}

.about-text{
    padding-left: 100px;
    padding-right: 100px;
    color: rgb(99, 99, 99);
    text-align: left;
    font-size: 14px;

}

.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: rgb(99, 99, 99);
}

.hover-img {
    position: relative;
    cursor: pointer;
  }

