html{
    font-family: "Fredoka", sans-serif;
}

html, body{
    margin: 0;
}

.navbar{
    position: absolute;
    margin: 10px;
    padding: 10px;

}

.navbar a {
    text-decoration: none;
    color: rgb(99, 99, 99);
    font-size: 14px;
}

footer{
    text-align: left;
    text-decoration: none;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 10px;
    width: 100%;
    font-size: 14px;
    color: rgb(99, 99, 99);
}

ul, ol {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 5px;
}

ul a{
    color: rgb(99, 99, 99);
    text-decoration: none;
}

#container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;
}

img{
    padding: 30px;
}

.about-text{
    padding-left: 100px;
    padding-right: 100px;
    color: rgb(99, 99, 99);
    text-align: left;
    font-size: 14px;

}

.links-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    z-index: 1000;
    flex-wrap: wrap;
    line-height: 0.8;
}

.text-link{
    text-decoration: none;
    color: rgb(104, 104, 104)
}

#image-preview {
    display: none; /* 默认不显示 */
    position: fixed; /* 或 absolute 根据需要 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 设置合适的宽度和高度 */
    width: 800px;
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    z-index: 1;
  }

  .text-item{
    padding: 5px;
    position: relative;
    z-index: 2000;
    white-space: nowrap;
    /* margin: 5px; */
    /* border: 1px solid rgb(99, 99, 99); */
  }

  sup{
    font-size: 8px;
  }

